.movies__card-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
}

.movies__more-button {
  font-size: 12px;
  border-radius: 6px;
  height: 36px;
  margin-top: 80px;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
}
.movies__more-button:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .movies__card-list {
    gap: 30px;
  }
}
