.movies {
  padding: 80px 10px 80px;
}

@media screen and (min-width: 768px) {
  .movies {
    padding: 80px 30px 80px;
  }
}

@media screen and (min-width: 1280px) {
  .movies {
    padding: 60px 70px 80px;
  }
}
