.about-project {
  display: flex;
  padding: 70px 18px;
  flex-direction: column;
  background: #fafafa;
}

.section-header {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.72px;
  padding-bottom: 28px;
  border-bottom: 1px solid #000;
  margin: 0;
}

.about-project__table {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  margin: 60px 0;
  padding-left: 0;
}

.about-project__table-cell {
  flex: 1;
  min-width: 280px;
  list-style-type: none;
}

.about-project__table-heading {
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.72px;
  font-weight: 400;
}

.about-project__table-text {
  margin: 0;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}

.about-project__plans {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-project__plan {
  display: flex;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}
.about-project__plan_current {
  height: 35px;
}

.about-project__plan-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.about-project__plan-item:first-child {
  min-width: 100px;
  flex: 1;
}
.about-project__plan-item:last-child {
  flex: 4;
}
.about-project__plan_current > .about-project__plan-item {
  color: #000000;
  font-weight: 500;
}
.about-project__plan_current > .about-project__plan-item:first-child {
  background-color: #2be080;
}
.about-project__plan_current > .about-project__plan-item:last-child {
  background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {
  .section-header {
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 23px;
    letter-spacing: -0.88px;
  }

  .about-project__table {
    margin: 70px 0 90px;
    gap: 30px;
  }

  .about-project__table-heading {
    letter-spacing: -0.8px;
    margin-bottom: 22px;
  }

  .about-project__table-text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__plan-item:first-child {
    min-width: 140px;
  }

  .about-project__plans {
    gap: 14px;
  }

  .about-project__plan {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .about-project {
    padding: 110px 70px;
  }

  .about-project__table {
    margin: 70px 0 110px;
    gap: 40px;
  }

  .about-project__table-heading {
    margin-bottom: 26px;
  }

  .about-project__table-text {
    font-size: 14px;
    line-height: 20px;
  }
}
