.navTab {
  background: #f5f5f5;
}

.navTab__items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: center;
  text-decoration: underline;
}

.navTab__item {
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
}
.navTab__item:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navTab__item {
    font-size: 13px;
  }
}
