.footer {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  padding: 80px 10px 20px;
}

.footer__description {
  margin: 0;
  margin-bottom: 8px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  color: #a0a0a0;
  line-height: 15px;
  font-weight: 400;
  text-align: center;
}

.footer__link {
  font-weight: 400;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: none;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 79px 30px 20px;
  }

  .footer__description {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__info {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__links {
    flex-direction: row;
    gap: 20px;
  }

  .footer__copyright {
    order: -1;
    color: #000;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    font-size: 13px;
    line-height: 16px;
    padding: 79px 70px 20px;
  }

  .footer__copyright {
    color: #000;
  }
}
